.home {
	padding: 20px;
	min-height: 100%;
	width: 100%;
}

.uploadCard {
    width: 90vw;
    margin: auto;
    padding: 1em;
    height: 80vh;

    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    top: 2em;
}

.inputField {
    width: 100%;
}

.cardButton {
    width: 20em;
    margin: auto;
}

.browseFile {
    position: absolute;
    top: 2em;
    left: 1em;
    pointer-events: none;
    /* cursor: pointer; */
    /* color: var(--main-color); */
}

.fileUpload {
    height: 5em;
    cursor: pointer;
    position: absolute;
    opacity: 0;
}

.progressCard {
    padding: 2em;
    z-index: 5;
    position: fixed;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.uploadPop {
    display: flex;
    flex-direction: column;
}

.loaderInfo {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}

.backing {
    position: fixed;
    z-index: 4;
    /* pointer-events: none; */
    background-color: rgba(0,0,0, 0.4);
    /* opacity: 0.4; */
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

/* .radioSet {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    width: 50%;
} */

.radio {
    margin: 0 1em;
}