.env
node_modules/
YTLands/public
log.txt
downloads/
junk1/
junk2/
Photos/
shuffle.json
config.json
trips.json
testData/
*.db
build/
lib/
*.bak.*
dist/
dist_electron/
tsconfig.tsbuildinfo
h-util-ui/Electron/packages
eng.traineddata
