:root {
    --main-color: #73f5b8;
}

.viewer-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;

    transition-property: all;
    transition-duration: 0.5s;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.setting {
    user-select: none;
    margin-bottom: 0.4em;
}

.viewer-area {
    height: 100%;
    width: 100%;
    position: absolute;
    /* background-color: black; */

    transition-property: all;
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
}

.title {
    display: flex;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.close-btn {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(MaterialIcons-Regular.woff2) format('woff2'),
    url(MaterialIcons-Regular.woff) format('woff'),
    url(MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.control-bar {
    /* pointer-events: none; */
    height: 4em;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* background-color: red; */
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    transition-property: all;
    transition-duration: 0.5s;
    width: 50%;
    z-index: 999;
    padding-bottom: 2em;
}

.play-bits {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blur {
    filter: blur(1em);
}

.control-bar i {
    font-size: 2.5em;
}

.control-bar-hover {
    opacity: 1;
    /* pointer-events: unset; */
}

#mini-filename {
    color: var(--main-color);
    text-align: center;
    font-size: 0.7em;
    line-height: 0em;

    position: relative;
    bottom: 0.4em;
}

.toolbar {
    position: absolute;
    color: white;
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1%;
    padding: 1em;
}

.toolbar i {
    font-size: 2em;;
}

.icon-bar {
    margin: 1em;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.9);
}

.option {
    cursor: pointer;
    transition: all;
    transition-duration: 0.5s;

    user-select: none;
    -moz-user-select: none;
}

.option i:hover {
    transform: scale(1.1);
}

.option:hover {
    color: var(--main-color);
}

.active {
    color: var(--main-color);
}

.toolbar h3 {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.2em;
    user-select: none;
}

.bottom-name {
    position: absolute;
    z-index: 100;
    bottom: 2em;
    left: 2em;
    color: var(--main-color);
    user-select: none;
    -moz-user-select: none;

    text-shadow: 2px 2px black;
    font-size: 1.2em;
}

.info-area {
    height: 50%;
    overflow-x: hidden;
    overflow-y: auto;
}

.info-area li {
    margin-left: 2em;
}

.middle-slide {
    z-index: 1;
}

.top-slide {
    z-index: 2;
}

#filename {
    word-wrap: normal;
    width: 100%;
}





.notifier {
    /* opacity: 1; */
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    color: white;
    transform: translate(-50%, -50%) scale(2);
    
    user-select: none;
    -webkit-user-select: none;

    text-shadow: 2px 2px black;
}

.fader {
    animation-duration: 0.5s;
    animation-name: fadeout;
    animation-timing-function: ease-out;

    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

:-webkit-full-screen body,
:-moz-full-screen body,
:-ms-fullscreen body {
	/* properties */
	width: 100vw;
	height: 100vh;
}

:full-screen body {
	/*pre-spec */
	/* properties */
	width: 100vw;
	height: 100vh;
}

:fullscreen body {
	/* spec */
	/* properties */
	width: 100vw;
	height: 100vh;
}

/* deeper elements */

:-webkit-full-screen body {
	width: 100vw;
	height: 100vh;
}