.show-card {
    width: 30vw;
    height: 15em;
    position: relative;
    cursor: pointer;
}

.showImage {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    object-fit: cover;

    transition-property: all;
    transition-duration: 0.5s;
}

.showImage:hover {
    filter: blur(0.1em) grayscale(100%) brightness(50%);
}

.showTitle {
    position: absolute;
    bottom: 0;
    left: 1em;
    color:
    white;
    user-select: none;
    text-shadow: 2px 2px 2px
    rgba(0,0,0,0.53);
    pointer-events: none;
}