.viewer {
    position: fixed;
    z-index: 100;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90vw;
    height: 90vh;
    background-color: black;

    padding: 1em;
    border-radius: 0.5em;
}

.closeButton {
    position: absolute;
    top: 0;
    right: 0.5em;
    cursor: pointer;
}

.viewerVideo {
    height: 90%;
    width: 100%;
}