.container {
    display: flex;
    margin-right: 1em;
}

.label {
    margin-right: 1em;
    textx-align: right;
}

.front {
    width: 4em;
    background-color: white;
    height: 1em;
    position: absolute;
    border-radius: 2px;
    z-index: 1;
}

.back {
    width: 4em;
    background-color: gray;
    height: 1em;
    position: absolute;
    border-radius: 2px;
}

.barContainer {
    position: relative;
    width: 4em;
}