.showingCard {
    padding: 2em;
    z-index: 5;
    position: fixed;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.backing {
    position: fixed;
    z-index: 4;
    /* pointer-events: none; */
    background-color: rgba(0,0,0, 0.4);
    /* opacity: 0.4; */
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
