.headerTitle {
    position: relative;
    width: 100%;
    height: 20em;
    overflow: hidden;
}

.titleText {
    position: absolute;
    z-index: 1;
    color: white;
    width: 100%;
    text-align: center;
    top: 40%;
    text-shadow: 2px 2px 2px
    rgba(0,0,0,0.53);
}

.showImage {
    position: absolute;
    filter: grayscale(100%) blur(0.5em);
    width: 100%;
    transform: translateY(-25%);
}

.episodeList {
    padding: 1em;
    width: 90vw;
    margin: auto;

    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.seasonSet {
    padding-top: 1em;
}

.episode {
    padding: 0.5em;
    cursor: pointer;
    position: relative;
    transition-property: all;
    transition-duration: 0.5s;
    left: 0;
    width: fit-content;
}

.episode:hover {
    left: 1em;
}

.warningCard {
    width: 70%;
    margin: auto;
    padding: 1em;
}

.cardButton {
    width: 20em;
}

.watched {
    /* font-size: 1em !important; */
    transform: scale(0.5) translateY(1em);
    height: 0em;
}