.home {
	padding: 20px;
	min-height: 100%;
	width: 100%;
}

.plus {
	color: #649cf5;
}

.titleHeader {
	width: 90vw;
	margin:auto;
	text-align: center;
	user-select: none;
	position: relative;
	height: 10em;
	overflow: hidden;
}

.titleHeader p {
	z-index: 1;
}

.titleHeader h1 {
	z-index: 1;
}

.cardHeader {
  padding: 16px;
}

.cardBody {
  padding: 16px;
}

.bannerImage {
	position: absolute;
}

.showsList {
	width: 95vw;
	height: 75vh;
	margin: auto;
	/* display: grid; */
	/* grid-template-columns: repeat(3, 1fr); */
	/* grid-template-columns: repeat(auto-fit, minmax(200px, 500px)); */
	/* grid-gap: 1em; */
	/* justify-items: center; */

	display: flex;
	flex-flow: wrap;
	justify-content: space-between;

	overflow-x: hidden;
	overflow-y: scroll;
}